
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #000000;
    text-align: center;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}


nav {
    background: #444;
}

nav a {
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 5px;
}

nav a:hover {
    background: #ffffff;
}


main {
    padding: 40px;
}






main {
    max-width: 100%; 
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

@media (max-width: 768px) {
    main {
        max-width: 100%; 
        padding: 10px; 
    }
}


label {
    font-weight: bold;
    font-size: 18px;
}

.input-group {
    margin: 10px 0;
}


button[type="submit"], .reserve-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
}

h2 {
    color: #333;
}

ul li {
    margin-bottom: 10px;
}

