body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
#admin-form {
    background: #fff;
    padding: 20px;
    margin-top: 20px;
}
label, select, input[type=time], button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}
button {
    background: #5cb85c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background: #4cae4c;
}
a {
    color: #333;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}